{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>突击队 - 管理平台</title>
    <!--favicon-->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <!-- simplebar CSS-->
    <link href="{% static 'plugins/simplebar/css/simplebar.css' %}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!--Data Tables -->
    <link href="{% static 'plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css">
    <!-- animate CSS-->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link href="{% static 'css/sidebar-menu.css' %}" rel="stylesheet"/>
    <!-- Custom Style-->
    <link href="{% static 'css/app-style.css' %}" rel="stylesheet"/>

</head>

<body class="bg-theme bg-theme1">

<!-- Start wrapper-->
<div id="wrapper">

    <div class="loader-wrapper">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!--Start sidebar-wrapper-->
    <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
        <div class="brand-logo">
            <a href="{% url '管理员默认页面模块' %}">
                <img src="{% static 'images/logo-icon.png' %}" class="logo-icon" alt="logo icon">
                <h5 class="logo-text">突击队管理平台</h5>
            </a>
        </div>
        <div class="user-details">
            <div class="media align-items-center user-pointer collapsed" data-toggle="collapse"
                 data-target="#user-dropdown">
                <div class="avatar"><img class="mr-3 side-user-img" src="{% static 'images/avatars/avatar-13.png' %}"
                                         alt="user avatar"></div>
                <div class="media-body">
                    <h6 class="side-user-name">{{ request.user.first_name }}</h6>
                </div>
            </div>
            <div id="user-dropdown" class="collapse">
                <ul class="user-setting-menu">
                    <li><a><i class="icon-user"></i> {{ user_group }}</a></li>
                    <li><a href="{% url 'logout' %}"><i class="icon-power"></i> 退出</a></li>
                </ul>
            </div>
        </div>

        <ul class="sidebar-menu do-nicescrol">
            <li class="sidebar-header">主页导航</li>

            <li>
                <a href="javaScript:void(0);" class="waves-effect">
                    <i class="zmdi zmdi-view-dashboard"></i> <span>人员管理</span><i
                        class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li><a href="{% url '管理员突击队模块' %}"><i class="zmdi zmdi-long-arrow-right"></i> 突击队</a></li>
                    <li><a href="{% url '管理员项目经理模块' %}"><i class="zmdi zmdi-long-arrow-right"></i> 项目经理</a></li>
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);" class="waves-effect">
                    <i class="zmdi zmdi-card-travel"></i>
                    <span>需求管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li><a href="{% url '新增需求模块' %}"><i class="zmdi zmdi-long-arrow-right"></i> 新增需求</a></li>
                    <li><a href="{% url '历史需求模块' %}"><i class="zmdi zmdi-long-arrow-right"></i> 历史需求</a></li>
                </ul>
            </li>
            <li class="sidebar-header">LABELS</li>
            <li><a href="javaScript:void(0);" class="waves-effect"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a>
            </li>
            <li><a href="javaScript:void(0);" class="waves-effect"><i class="zmdi zmdi-chart-donut text-success"></i>
                <span>Warning</span></a></li>
            <li><a href="javaScript:void(0);" class="waves-effect"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a>
            </li>
        </ul>

    </div>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
        <nav class="navbar navbar-expand fixed-top">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link toggle-menu" href="javascript:void(0);">
                        <i class="icon-menu menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <form class="search-bar">
                        <input type="text" class="form-control" placeholder="Enter keywords">
                        <a href="javascript:void(0);"><i class="icon-magnifier"></i></a>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav align-items-center right-nav-link">
                <li class="nav-item dropdown-lg">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                       href="javascript:void(0);">
                        <i class="fa fa-bell-o"></i><span class="badge badge-info badge-up">14</span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                您有 14 条通知
                                <span class="badge badge-info">14</span>
                            </li>
                            <li class="list-group-item">
                                <a href="javaScript:void(0);">
                                    <div class="media">
                                        <i class="zmdi zmdi-accounts fa-2x mr-3 text-info"></i>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">XX项目</h6>
                                            <p class="msg-info">xx项目申请2人...</p>
                                        </div>
                                    </div>
                                </a>

                            <li class="list-group-item text-center"><a href="javaScript:void(0);">查看所有通知</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                        <span class="user-profile"><img src="{% static 'images/avatars/avatar-13.png' %}"
                                                        class="img-circle" alt="user avatar"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item user-details">
                            <a href="javaScript:void(0);">
                                <div class="media">
                                    <div class="avatar"><img class="align-self-start mr-3"
                                                             src="{% static 'images/avatars/avatar-13.png' %}"
                                                             alt="user avatar"></div>
                                    <div class="media-body">
                                        <h6 class="mt-2 user-title">{{ request.user.first_name }}</h6>
                                        <p class="user-subtitle">{{ request.user.email }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> 账户</li>
                        <li class="dropdown-divider"></li>
                        {% if user.is_authenticated %}
                            <li class="dropdown-item"><i class="icon-power mr-2"></i> <a
                                    href="{% url 'logout' %}">退出</a></li>
                            {#                <li class="dropdown-item"><i class="icon-power mr-2"></i> <a href="javascript:{document.getElementById('logout').submit()}">退出</a> </li>#}
                            {#                    <form id = 'logout' action="{% url 'logout' %}" method="post">#}
                            {#                           {% csrf_token %}#}
                            {#                        <input type="hidden">#}
                            {#					</form>#}

                        {% else %}
                            <li class="dropdown-item"><i class="icon-power mr-2"></i> <a href="{% url 'login' %}">登陆</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumb-->
            <div class="row pt-2 pb-2">
                <div class="col-sm-9">
                    <h4 class="page-title">项目经理</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javaScript:void(0);">主页导航</a></li>
                        <li class="breadcrumb-item"><a href="javaScript:void(0);">人员管理</a></li>
                        <li class="breadcrumb-item active" aria-current="page">项目经理</li>
                    </ol>
                </div>
                <div class="col-sm-3">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header"><i class="fa fa-table"></i> 人员列表
                            <button type="button" class="btn btn-light btn-sm waves-light m-1" data-toggle="modal"
                                    data-target="#formemodal1">Add
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>工号</th>
                                        <th>电话</th>
                                        <th>邮箱</th>
                                        <th>所在地</th>
                                        <th>del</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for xmjl in xmjls %}
                                        <tr>
                                            <input value="{{ xmjl.id }}" type="hidden"/>
                                            <td data-toggle="modal" data-target="#formemodal"
                                                onclick="get_modify_msg(this)">{{ xmjl.first_name }}</td>
                                            <td>{{ xmjl.staff_id }}</td>
                                            <td>{{ xmjl.iphone }}</td>
                                            <td>{{ xmjl.email }}</td>
                                            <td>{{ xmjl.diqu }}</td>
                                            <td>
                                                {#                            <form action="{% url '突击队人员删除' tjd.id %}" method="post" >#}
                                                {#                                {% csrf_token %}#}
                                                {#                                <button type="button" class="btn btn-danger  waves-light btn-sm" id="confirm-btn-alert"></button>#}
                                                {#                            </form>#}
                                                {#                                                <form action="" method="post">#}
                                                {#                                                    {% csrf_token %}#}
                                                <button type="button"
                                                        class="btn btn-danger  waves-light btn-sm"
                                                        id="confirm-btn-alert" onclick="person_del(this)">DEL
                                                </button>
                                                {#                                                </form>#}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <script>
                                        function get_modify_msg(self) {
                                            var xmjl_id = self.previousElementSibling.value;
                                            var first_name = self.innerText;
                                            var staff_id = self.nextElementSibling.innerText;
                                            var phone = self.nextElementSibling.nextElementSibling.innerText;
                                            var email = self.nextElementSibling.nextElementSibling.nextElementSibling.innerText;
                                            var area = self.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerText;
                                            document.getElementById('input-0').value = xmjl_id;
                                            document.getElementById('input-1').value = first_name;
                                            document.getElementById('input-2').value = staff_id;
                                            document.getElementById('input-3').value = phone;
                                            document.getElementById('input-4').value = email;
                                            {#document.getElementById('input-5').value = staff_id;#}
                                            document.getElementById('input-6').value = area;
                                        }
                                    </script>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Row-->
            <div class="col-lg-4">
                <!-- Large Size Modal -->

                <!--
                <button  class="btn btn-light btn-block m-1" data-toggle="modal" data-target="#formemodal">Modal with form</button>
                修改资料 data-toggle="modal" data-target="#formemodal"
                -->

                <!-- Modal -->
                <div class="modal fade" id="formemodal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">修改资料 </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name='modify' id="modify" action="{% url '项目经理信息修改' %}" method="post">
                                    {% csrf_token %}
                                    <input name="xmjl_id" id="input-0" type="hidden"/>
                                    <div class="form-group">
                                        <label for="input-1">姓名</label>
                                        <input name="first_name" type="text" class="form-control" id="input-1"
                                               placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-2">工号</label>
                                        <input name="staff_id" type="text" class="form-control" id="input-2"
                                               placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-3">电话</label>
                                        <input name="iphone" type="text" class="form-control" id="input-3"
                                               placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-4">邮箱</label>
                                        <input name="email" type="text" class="form-control" id="input-4"
                                               placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-5">密码</label>
                                        <input name="password" type="password" class="form-control" id="input-5"
                                               placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-6">所在地</label>
                                        <input name="diqu" type="text" class="form-control" id="input-6"
                                               placeholder="">
                                    </div>


                                    <div class="form-group">
                                        <button type="button" class="btn btn-light" onclick="modify_clerk_staff()"><i
                                                class="fa fa-check-square-o"></i>
                                            保存
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!--
             <button  class="btn btn-light btn-block m-1" data-toggle="modal" data-target="#formemodal">Modal with form</button>
             添加用户 data-toggle="modal" data-target="#formemodal"
             -->

                <!-- Modal -->
                <div class="modal fade" id="formemodal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">新建用户</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name='add' id="add" action="{% url '项目经理人员添加' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="input-1">用户名 <span style="color:red">*</span></label>
                                        <input type="text" class="form-control" name="username" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-2">姓名 <span style="color:red">*</span></label>
                                        <input type="text" class="form-control" name="first_name" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-3">工号 <span style="color:red">*</span></label></label>
                                        <input type="text" class="form-control" name="staff_id" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-4">电话 <span style="color:red">*</span></label></label>
                                        <input type="text" class="form-control" name="iphone" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-5">邮箱 <span style="color:red">*</span></label></label>
                                        <input type="text" class="form-control" name="email" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-6">密码 <span style="color:red">*</span></label></label>
                                        <input type="text" class="form-control" name="password" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-7">所在地 <span style="color:red">*</span></label></label>
                                        <input type="text" class="form-control" name="diqu" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-light" onclick="submit_add_person()"><i
                                                class="fa fa-check-square-o"></i>
                                            确认
                                        </button>
                                    </div>
                                    {#TODO 添加人员#}
                                    <script>
                                        function submit_add_person() {
                                            $.ajax({
                                                type: "POST",
                                                url: "/manageradmin/manager_user_add/",
                                                data: $('#add').serialize(),// 序列化表单值
                                                async: false,
                                                success: function (data) {
                                                    {#alert(data['status']);#}
                                                    if (data['status'] == 'success') {
                                                        swal({
                                                            title: "人员添加成功!",
                                                            icon: "success",
                                                        }).then((clc) => {
                                                            window.location.href = "/manageradmin/manager_user_list/"
                                                        });
                                                    } else {
                                                        if (data['err'] == 'username') {
                                                            swal({
                                                                title: "用户名不能重复",
                                                                icon: "error",
                                                            })
                                                        } else if (data['err'] == 'staff_id') {
                                                            swal({
                                                                title: "工号不能重复",
                                                                icon: "error",
                                                            })
                                                        } else if (data['err'] == 'iphone') {
                                                            swal({
                                                                title: "电话不能重复",
                                                                icon: "error",
                                                            })
                                                        } else if (data['err'] == 'email') {
                                                            swal({
                                                                title: "邮箱不能重复",
                                                                icon: "error",
                                                            })
                                                        }
                                                    }
                                                }
                                            });
                                        }


                                        function modify_clerk_staff() {
                                            $.ajax({
                                                type: "POST",
                                                url: "/manageradmin/modify_staff/",
                                                data: $('#modify').serialize(),// 序列化表单值
                                                async: false,
                                                success: function (data) {
                                                    {#alert(data['status']);#}
                                                    if (data['status'] == 'success') {
                                                        swal({
                                                            title: "信息修改成功!",
                                                            icon: "success",
                                                        }).then((clc) => {
                                                            window.location.href = "/manageradmin/manager_user_list/"
                                                        });
                                                    } else {
                                                        if (data['err'] == 'username') {
                                                            swal({
                                                                title: "用户名不能重复",
                                                                icon: "error",
                                                            })
                                                        } else if (data['err'] == 'staff_id') {
                                                            swal({
                                                                title: "工号不能重复",
                                                                icon: "error",
                                                            })
                                                        } else if (data['err'] == 'iphone') {
                                                            swal({
                                                                title: "电话不能重复",
                                                                icon: "error",
                                                            })
                                                        } else if (data['err'] == 'email') {
                                                            swal({
                                                                title: "邮箱不能重复",
                                                                icon: "error",
                                                            })
                                                        }
                                                    }
                                                }
                                            });
                                        }
                                    </script>
                                    <div class="onerror">
                                        {{ msg }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- End container-fluid-->
    </div>
    <!-- End container-fluid-->

    <!--Start Back To Top Button-->
    <a href="javaScript:void(0);" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--Start footer-->
    <footer class="footer">
        <div class="container">
            <div class="text-center">
                Copyright © 2020 突击队管理平台
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!--start color switcher-->
    <div class="right-sidebar">
        <div class="switcher-icon">
            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
        </div>
        <div class="right-sidebar-content">

            <p class="mb-0">Gaussion Texture</p>
            <hr>

            <ul class="switcher">
                <li id="theme1"></li>
                <li id="theme2"></li>
                <li id="theme3"></li>
                <li id="theme4"></li>
                <li id="theme5"></li>
                <li id="theme6"></li>
            </ul>

            <p class="mb-0">Gradient Background</p>
            <hr>

            <ul class="switcher">
                <li id="theme7"></li>
                <li id="theme8"></li>
                <li id="theme9"></li>
                <li id="theme10"></li>
                <li id="theme11"></li>
                <li id="theme12"></li>
            </ul>

        </div>
    </div>
    <!--end color cwitcher-->

</div><!--End wrapper-->


<!-- Bootstrap core JavaScript-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<!-- simplebar js -->
<script src="{% static 'plugins/simplebar/js/simplebar.js' %}"></script>
<!-- sidebar-menu js -->
<script src="{% static 'js/sidebar-menu.js' %}"></script>

<!-- Custom scripts -->
<script src="{% static 'js/app-script.js' %}"></script>

<!--Data Tables js-->
<script src="{% static 'plugins/bootstrap-datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datatable/js/buttons.colVis.min.js' %}"></script>
<!--Multi Select Js-->
<script src="{% static 'plugins/jquery-multi-select/jquery.multi-select.js' %}"></script>
<script src="{% static 'plugins/jquery-multi-select/jquery.quicksearch.js' %}"></script>
<!--Sweet Alerts -->
<script src="{% static 'plugins/alerts-boxes/js/sweetalert.min.js' %}"></script>
<script src="{% static 'plugins/alerts-boxes/js/sweet-alert-script.js' %}"></script>
<script src="{% static 'js/del_msg.js' %}"></script>
<script>
    $(document).ready(function () {
        //Default data table
        $('#default-datatable').DataTable();


        var table = $('#example').DataTable({
            lengthChange: false,
            buttons: ['excel', 'print', 'colvis']
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');

    });

</script>

</body>
</html>

