<html>
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div class="content-wrap"
     style="margin: 0px auto; overflow: hidden; padding: 0px; border: 0px dotted rgb(238, 238, 238); width: 600px;">
    <!---->
    <div tindex="1" style="margin: 0px auto; max-width: 600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0"
               style="background-color: rgb(255, 255, 255); background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 1% 50%;">
            <tbody>
            <tr>
                <td style="direction: ltr; font-size: 0px; text-align: center; vertical-align: top; width: 600px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="vertical-align: top;">
                        <tbody>
                        <tr>
                            <td style="width: 40%; max-width: 40%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding: 0px;">
                                <div class="full" style="margin: 0px auto; max-width: 600px; line-height: 0px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="width: 240px;">
                                        <tbody>
                                        <tr>
                                            <td align="center"
                                                style="direction: ltr; font-size: 0px; padding: 25px 0px; text-align: center; vertical-align: top; word-break: break-word; width: 240px; background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                       role="presentation"
                                                       style="border-collapse: collapse; border-spacing: 0px;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width: 375px; border-top: 1px solid rgb(204, 204, 204);"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td style="width: 20%; max-width: 20%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding: 0px;">
                                <div class="full" style="margin: 0px auto; max-width: 600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="width: 120px;">
                                        <tbody>
                                        <tr>
                                            <td style="direction: ltr; width: 120px; font-size: 0px; padding-bottom: 0px; text-align: center; vertical-align: top; background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                       width="100%" style="vertical-align: top;">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left" style="font-size: 0px; padding: 13px 20px;">
                                                            <div class="text"
                                                                 style="font-family: &quot;Microsoft YaHei&quot;; overflow-wrap: break-word; margin: 0px; text-align: center; line-height: 20px; color: rgb(51, 51, 51); font-size: 16px; font-weight: bolder;">
                                                                <div>
                                                                    <h3 style="line-height: 24px; font-size: 1.17em; font-weight: bold; margin: 0px;">
                                                                        <strong>处理结果</strong><span
                                                                            class="ql-cursor">﻿</span></h3>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td style="width: 40%; max-width: 40%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding: 0px;">
                                <div class="full" style="margin: 0px auto; max-width: 600px; line-height: 0px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="width: 240px;">
                                        <tbody>
                                        <tr>
                                            <td align="center"
                                                style="direction: ltr; font-size: 0px; padding: 25px 0px; text-align: center; vertical-align: top; word-break: break-word; width: 240px; background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                       role="presentation"
                                                       style="border-collapse: collapse; border-spacing: 0px;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width: 375px; border-top: 1px solid rgb(204, 204, 204);"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="full" tindex="2" style="margin: 0px auto; max-width: 600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 600px;">
            <tbody>
            <tr>
                <td style="direction: ltr; width: 600px; font-size: 0px; padding-bottom: 0px; text-align: center; vertical-align: top; background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
                           style="vertical-align: top;">
                        <tbody>
                        <tr>
                            <td align="left" style="font-size: 0px; padding: 4px 7px;">
                                <div class="text"
                                     style="font-family: &quot;Microsoft YaHei&quot;; overflow-wrap: break-word; margin: 0px; text-align: left; line-height: 20px; color: rgb(102, 102, 102); font-size: 12px; font-weight: normal;">
                                    <div>
                                        <h3 style="line-height: 24px; font-size: 1.17em; font-weight: bold; margin: 0px;">
                                            <span style="color: rgb(230, 0, 0);">{} - {}</span></h3>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="full" tindex="3" style="margin: 0px auto; max-width: 600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 600px;">
            <tbody>
            <tr>
                <td style="direction: ltr; width: 600px; font-size: 0px; padding-bottom: 0px; text-align: center; vertical-align: top; background-image: url(&quot;https://www.drageasy.com/Uploads/2020/0211/e766c3e58cf27883e641a68390fb3637.png&quot;); background-repeat: no-repeat; background-size: 254px; background-position: 100% 9%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
                           style="vertical-align: top;">
                        <tbody>
                        <tr>
                            <td align="left" style="font-size: 0px; padding: 20px;">
                                <div class="text"
                                     style="font-family: &quot;Microsoft YaHei&quot;; overflow-wrap: break-word; margin: 0px; text-align: left; line-height: 12px; color: rgb(102, 102, 102); font-size: 12px; font-weight: normal;">
                                    <div>
                                        <p style="text-size-adjust: none; word-break: break-word; line-height: 12px; font-size: 12px; margin: 0px;">
                                            申请时间：{}</p>
                                        <p style="text-size-adjust: none; word-break: break-word; line-height: 12px; font-size: 12px; margin: 0px;">
                                            项目名称：{}</p>
                                        <p style="text-size-adjust: none; word-break: break-word; line-height: 12px; font-size: 12px; margin: 0px;">
                                            支撑时间：{} - {}</p>
                                        <p style="text-size-adjust: none; word-break: break-word; line-height: 12px; font-size: 12px; margin: 0px;">
                                            分配人员：{}</p>
                                        <p style="text-size-adjust: none; word-break: break-word; line-height: 12px; font-size: 12px; margin: 0px;">
                                            备注信息：{}</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div tindex="4" style="margin: 0px auto; max-width: 600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0"
               style="background-color: rgb(255, 255, 255); background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 1% 50%;">
            <tbody>
            <tr>
                <td style="direction: ltr; font-size: 0px; text-align: center; vertical-align: top; width: 600px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="vertical-align: top;">
                        <tbody>
                        <tr>
                            <td style="width: 25%; max-width: 25%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding: 0px;">
                                <!----></td>
                            <td style="width: 25%; max-width: 25%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding: 0px;">
                                <!----></td>
                            <td style="width: 25%; max-width: 25%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding: 0px;">
                                <!----></td>
                            <td style="width: 25%; max-width: 25%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding: 0px;">
                                <div class="full" style="margin: 0px auto; max-width: 600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="width: 150px;">
                                        <tbody>
                                        <tr>
                                            <td style="direction: ltr; width: 150px; font-size: 0px; padding-bottom: 0px; text-align: center; vertical-align: top; background-image: url(&quot;&quot;); background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                       width="100%" style="vertical-align: top;">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left" style="font-size: 0px; padding: 20px;">
                                                            <div class="text"
                                                                 style="font-family: &quot;Microsoft YaHei&quot;; overflow-wrap: break-word; margin: 0px; text-align: center; line-height: 20px; color: rgb(102, 102, 102); font-size: 14px; font-weight: normal;">
                                                                <div>
                                                                    <p style="text-size-adjust: none; word-break: break-word; line-height: 20px; font-size: 14px; margin: 0px;">
                                                                        {}</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>